  <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: small">
        <ul class="title-area">
          <li class="name name-ctr">
            <h1>MoverBoard</h1>
          </li>
          <li class="left"> <%= link_to '<', root_path %> </li>
        </ul>
      </nav>
    </div>

<br>


 <div class="row" style =" font-weight:bold">
    <div class="small-9 columns">
       User Name
    </div>

    <div class="small-3 columns">
       Points
    </div>
  </div>
<!-- and then you display information here -->
