<h1 align="center">Tiny Moves</h1>
<div class="row column-12">
  <div class="row" style="align:center"> 
    <div class="small-12 columns" style="background-color:white">
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Make a Move
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Send a Move
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Approve a Move
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Move Gallery
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Moverboard
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
    </div>
  </div>
</div>

