<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Tiny Moves</h1>
  </nav>
</div>
<div class="row column-12">
  <div class="row" style="align:center"> 
    <div class="small-12 columns" style="background-color:white">
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Make a Move
        </div>
        <div class="small-1 columns">
          <a href="/makeamove"> > </a>
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Send a Move
        </div>
        <div class="small-1 columns">
          <a href="/sendamove"> > </a>
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Approve a Move
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Move Gallery
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Moverboard
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
    </div>
  </div>
</div>

