<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Send a move</h1>
  </nav>
</div>
<div class="row column-12" style="background-color:white">
  <br><br>
  <%= form_for(@assignment) do |f| %>
  <div class="row">
    <div class="small-11 columns small-offset-1">
      <b>Task Name: </b>
      <input type="text" name="title" placeholder="Task Name here">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-11 columns small-offset-1">
      <b>Task Decription:</b> <textarea name="description" placeholder="Task Description here"></textarea>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="small-3 columns small-offset-1"> 
      Send to a specific user? <input type="text" name="user_id" placeholder="Optional Username here"> 
    </div>
  </div>
  <br> <br>
  <div class="row">
    <div class="small-6 small-offset-4 columns" style="padding-left:5rem">
      <input type="submit" value="Send Move" />
    </div>
  </div>
</div>
<% end %>