// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr {
  margin:0;
}
.menu-item {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 1.5em; 
}
