<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Your Move</h1>
  </nav>
</div>
<div class="row column-12" style="background-color:white">
  <h5 align="center"> Accepted! </h5> 
  <br>
  <div class="row">
  <div>
    <div class="small-6 columns small-offset-3" style="background-color:grey; height:200px">
      <h5 align="center"> Placeholder for Camera </h5>
    </div>
  </div>
  <div class="row">
    <div class="small-6 small-offset-4 columns" style="padding-left:7rem">
      <br><br>
      <a href="/home/index" class="button radius"> Send </a> 
    </div>
  </div>
</div>