<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Your move</h1>
  </nav>
</div>
<div class="row column-12" style="background-color:white">
  <br><br>
  <div class="row">
    <div class="small-11 columns small-offset-1">
      <b>Task Name:</b> Spin a pencil
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-11 columns small-offset-1">
      <b>Task Decription:</b> <br> 
      Take a picture of you spinning a pencil
    </div>
  </div>
  <br><br>
  <br> <br>
  <div class="row">
    <div class="small-4 small-offset-2 columns" style="padding-left:5rem">
      <a href="/rejectmove" class="button radius reject"> Reject </a> 
    </div>
    <div class="small-6 columns">
      <a href="/acceptmove" class="button radius accept"> Accept </a> 
    </div>
  </div>
</div>