<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Make a move</h1>
  </nav>
</div>
<div class="row column-12">
  <div class="row" style="align:center"> 
    <div class="small-12 columns" style="background-color:white">
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Spin your pencil
        </div>
        <div class="small-1 columns">
          <a href="/examplemove"> > </a>
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Make a paper plane
        </div>
        <div class="small-1 columns">
          <a href="#"> > </a>
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Take a creeper pic
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
      <hr> 
      <div class="menu-item small-centered">
        <div class="small-11 columns">
          Wear a hat on your knee
        </div>
        <div class="small-1 columns">
          >
        </div>
      </div>
    </div>
  </div>
</div>

