<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Make a move</h1>
  </nav>
</div>
<div class="row column-12" style="background-color:white">
  <div class="row">
    <h4 align="center"> No current moves </h4>
    <br>
  </div>
  <div class="row column-12">
    <div class="small-6 small-offset-4 columns" style="padding-left:5rem">
      <a href="/makeamovelist" class="button radius"> Get a random task! </a> 
    </div>
  </div>

</div>

