<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Your Move</h1>
  </nav>
</div>
<div class="row column-12" style="background-color:white">
  <h5 align="center"> Declined! </h5> 
  <br>
  <div class="row">
    <div class="small-11 columns small-offset-1">
      <b>Reason for declining:</b> <textarea placeholder="Reason here"></textarea>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="small-6 small-offset-4 columns" style="padding-left:5rem">
      <a href="/home/index" class="button radius"> Send </a> 
    </div>
  </div>
</div>