<div class="contain-to-grid sticky" style="background:#90cfb2">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" style="background:#90cfb2">
    <h1 align="center" style="margin:0em">Send a move</h1>
  </nav>
</div>
<div class="row column-12" style="background-color:white">
  <br><br>
  <div class="row">
    <div class="small-11 columns small-offset-1">
      Task Name: Lorem ipsum dolor
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-11 columns small-offset-1">
      Task Decription: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae fringilla neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc commodo non elit eu tincidunt. Nam sed malesuada nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at laoreet neque. Nulla facilisi. Vivamus quis ante imperdiet, posuere libero eu, auctor leo. Etiam ut egestas magna, quis venenatis quam. Nullam est leo, feugiat a convallis at, auctor eu erat. Praesent iaculis imperdiet mauris quis molestie. Vivamus ut lobortis ligula. Suspendisse rhoncus sem velit, vel suscipit ligula luctus ac. Proin luctus venenatis enim, vitae sagittis eros ultricies eget. Quisque mauris erat, mollis vitae purus a, faucibus porta arcu.
    </div>
  </div>
</div>